<% provide(:title, "Data Model") %>

<h1>Data Model</h1>
<ul class="url_data_model">
	<li>URL: <%= @url_data_model.url %></li>
	<li>PDF Version: <%= @url_data_model.pdf_version %></li>
	<li>Title: <%= @url_data_model.title %></li>
	<li>Metadata: <%= @url_data_model.metadata %></li>
	<li>Page Count: <%= @url_data_model.page_count %></li>
</ul>